:host{
	display: block;
	height: 100%;
	width:100%;

	div.container{
		height: 100%;
		width: 100%;
		display: block;
		background-color:darkgreen;
		padding:5vw 5vw;
		text-align: center;
		position:relative;

		p{
			margin:0;
			font-size: 5vh;
			position:absolute;
			width: 100%;
			text-align: left;
			text-indent: 5vh;
			top:0;
			left:0;
			color:gold;
			text-shadow: 1px 1px 5px black;

			button[ion-button]{
				padding:1vh;
				font-size: 4vh;
				border-radius: 8px;
				display: inline-block;
				margin-left: 5vh;
				background-color:crimson;
				color:#ddd;
				text-shadow: 1px 1px 5px black;
				&.yelo{
					background-color:gold;
				}
			}
		}

		.inner-board{
			height: 100%;
			width: 100%;
			position: relative;
			display: inline-block;
			background-image:url("../../../assets/christmasred.jpg");
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center;
			border-radius:8px;

			app-bingo-number{
				cursor: pointer;
			}
		}
	}
}